.page {
  padding: 24px 24px 12px 24px;
  max-width: 400px;
  height: 820px;
  max-height: 820px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 10px 24px 30px;
  gap: 32px;

  border: 1px solid #121212;
  border-radius: 20px;
}
.status-bar {
  padding: 0 0 0 12px;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.button {
  transition: opacity 0.7s;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
.title {
  font-size: 24px;
  color: #121212;
}

.nav {
  display: flex;
  justify-content: space-around;

  &__button {
    padding: 12px;
    width: 100%;

    color: #888888;
    border-bottom: 1px solid #e6e6e6;

    &--active {
      color: #121212;
      border-bottom: 2px solid #121212;
    }

    transition: opacity 0.7s;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-size: 18px;
    color: #121212;
    font-weight: bold;
  }
  &__info {
    font-size: 14px;
    color: #363636;
    line-height: 150%;
  }
  &__button {
    font-size: 14px;
    color: #fff;
    padding: 16px;
    background-color: #f46f17;
    border-radius: 10px;

    transition: opacity 0.7s;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.link {
  margin-top: 48px;
  text-decoration: none;
}

.footer-line {
  width: 150px;
  border-bottom: 5px solid #121212;
  border-radius: 5px;
  justify-self: center;
}
